@import 'variables';

@mixin text-corrextion {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 3.5vw;
line-height: 58px;
display: flex;
align-self: center;
letter-spacing: 0.1em;
text-transform: uppercase;

  }

  @mixin font {
    font-family: 'Lato';
    font-style: normal;
    text-transform: uppercase;
      }
    

.size{
    height: 2100px;
}

.body_one{
    display: flex;

    width: 100vw;
    height: 58rem;

    background-image: url("../images/hero image.png");
       
    background-size: 100% 100%;
    
    

}
.boxone_bodyone{
    margin: 1%;
    display: flex;
    align-self: flex-end;
    
    margin-left: auto;
    
    width: 45.13888%;
    height: 38%;
    background-color: rgba(48.6, 45.5, 45.5,0.3);
    
 
    flex-direction: column;
}
.text_one{

/* H1 */
height: auto;
width: auto;
margin: 1%;
@include text-corrextion();
color: $defaultcolor;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-overflow: clip;
}
.text_two{

    height: auto;
    width: auto;
    margin: auto;
    padding-left: 5%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    
    line-height: 24px;
    /* or 100% */

    display: flex;
    text-align: start;
    align-content: center;
    justify-self: center;
    letter-spacing: 0.1em;
    
    color: $defaultcolor;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens





}
.button{
    padding-top: 15px;
    width: 180px;
    height: 55px;
    margin: auto;
    @include font();
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;

    text-align: center;
    align-items: center;
    
    color: $defaultcolor;
    background: #7C7474;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens
    
}
@media screen and (max-width: 768px) {
    .size{
        height: 1350px;
        width: 350px;
    }
    .text_one{
        @include font();

        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
         display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;


        color: $defaultcolor;
 

    }
    .text_two{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;

        color: $defaultcolor;
    }
    .body_one{
        display: flex;
    
        width: 100vw;
        height: 300px;
    
        background-image: none;

        
    
    }
    .boxone_bodyone{

        align-self: center;
        
        margin: auto;
        
        width: 310px;
        height: 200px;
        background-color: rgba(48.6, 45.5, 45.5,0.3);
        
     
        flex-direction: column;
    }
    .button{

        width: 120px;
        height: 25px;
        margin: auto;
        @include font();

        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        letter-spacing: 0.1em;

        
        overflow: hidden;
        text-overflow: ellipsis; // This is where the magic happens
        
    }

    @media screen and (max-width: 768px) {
        .button{
            padding-bottom: 1.5vh;
        }
    }

}