@import 'variables';


.body_two{
    width: 100vw;
    height: 64.625rem;
    display: flex;
    
    justify-self: center;


    
 
    align-items: center;
    flex-direction: column;



    background-color: white;

}
.boximage3{
    display: flex;
    width: 100vw;
    padding-left: 4vw;
    padding-right: 4vw;
  
    justify-content: space-evenly;
 


}
.imagenature {
    flex-direction: row;

    max-width: 30vw;
    max-height: 30vw;
   

  }
.body_two_head{
    margin: auto;
    @include font();

    font-weight: 700;
    font-size: 36px;
    line-height: 43px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;


    color: #000000;
    align-items: center;

}
.body_two_mid-one{
    display: flex;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 4vw;
  
    justify-content: space-evenly;


    margin-top: 0.1%;
    

}
.body_two_text{
    
    width: 20.833vw;
    height: 2.08vw;
      @include font();

    font-weight: 700;
    font-size: clamp(1vw,1.6vw,24px);
  
    max-height: 30px;
    max-width: 350px;

}
.body_two_mid-two{
    display: flex;
    width: 100vw;
    padding-left: 4vw;
    padding-right: 4vw;
  
    justify-content: space-evenly;


    margin-top: 0.1%;
} 
.body_two_text_two{
    width:22.22222vw ;
    height:6.25vw ;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;

    font-size: clamp(1vw,1.6vw,18px);
    line-height: 22px;
    letter-spacing: 0.1em;

     color: #000000;

    max-height: 90px;
    max-width: 300px;

}
.three-stripes{
    display: none;
}
@media screen and (max-width: 768px) {
    .body_two{
        display: flex;
        flex-direction:initial;
        margin-top: 10vh;

       

        height: 575px;
        justify-self: center;
        align-items: flex-end;

        flex-wrap: wrap;
    
    
    }

    .body_two_head{
        @include font();
        font-weight: 700;
        font-size: 2.82051vw;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;

    
    }
    .header-item{
        display: none;
    }
    .boximage3{
        display: flex;
        flex-direction: column;
        width: 117px;
        align-self: flex-start;
        
    


    }
    .body_two_mid-one{
        display: flex;
        flex-direction: column;
        width: 30vw;
        padding-left: 9vw;
        gap: 8vh;
 

        align-self: center;
        justify-content: center;

        margin-bottom: 12vh;
    
    
        
            
    }

    .body_two_mid-two{
        display: flex;
        flex-wrap: initial;
        flex-direction: column;
        width: 30vw;
        gap: 5vh;
    
        align-self: center;

    
        margin-right: 10vw;
        position: relative;
        right: 25vw;
        bottom: 2.5vh;

  
      
    } 
    .imagenature {
        flex-direction: row;
    
        
        width: 117px;
        height: 117px;
    
      }
    .body_two_text_two{

        font-family: 'Lato';
       font-style: normal;
       font-weight: 300;
       font-size: 1.5vw;
       line-height: 12px;
 
       letter-spacing: 0.1em;
 
       margin-bottom: 5vh;

        color: #000000;
    
    }
    .body_two_text{
     margin-bottom: 10vw;
    }
    .three-stripes{
        display: flex;
    }

}